@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One|Roboto+Mono:400,700&display=swap');




body {
    font-family: 'Roboto Mono', monospace;
}




/*haka kan7eydo scroll bar*/
::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1ex;
}




/*snapping scroll*/
/* .app-container {
    display: grid;
    grid-auto-flow: row;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    behavior: 'smooth';
}

.app-container > div {
    scroll-snap-align: center;
    position: relative;
    scroll-snap-stop: 80%; }
 */
